.signin{
    width: 100%;
    height: 100%;
    background-color: $color1;
}

.menuS{
    background-image: url("../../uxnet/img/blurbackground.jpg");
    background-size: 127vh;
    background-position: bottom;
}
