.btn{
    background-color: $color4;
    width: 100%;
    border: none;
    font-family: $font;
    font-size: 15px;
}

.btncancel{
    background-color: $color3;
    width: 100%;
    border: none;
    font-family: $font;
    font-size: 15px;
}

//.btn:hover{
    //background-color: ;
//}