.btn{
    background-color: $color4;
    width: 100%;
    border: none;
    font-family: $font;
    font-size: 15px;
}

.btn:hover{
    background-color: $color14;
}

.btncancel{
    background-color: $color3;
    width: 100%;
    border: none;
    font-family: $font;
    font-size: 15px;
}

.btncancel:hover{
    background-color: $color8;
}

.SignOutButton{
    background-color: $color3;
    width: 100%;
    border: none;
    font-family: $title;
    font-size: 13px;
    color: white;
    height: 78%;
}

//.btn:hover{
    //background-color: ;
//}

.btn-testquestion{
    width: 291px;
    font-weight: 500;
    font-size: 18px;
}

