@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Prompt:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

//Colors
$color1 : #04041B;
$color2 : #F7F8FA;
$color3 : #694FFD;
$color4 : #FF971D;
$color5 : #C4C4C4;
$color6 : white;
$color7 : #7764E3;
$color8 : #3D347F;
$color9 : #02022D;
$color10 : #241F53;
$color11 : #5661AE;
$color14 : #FF8800;
$color15 : #010112;

//Fonts
$title: "Prompt";
$font: "Open Sans";

@import './buttons';

@import './footer';

@import './filters';

@import './menu';

@import './goback';

@import './logsignin/login';
@import './logsignin/signin';

@import './landing/header';
@import './landing/nextevent';
@import './landing/information';

@import './information/top';
@import './information/company';
@import './information/roles';

@import './growth/growth';
@import './growth/event';

@import './modal/dark';
@import './modal/mevent';
@import './modal/profile';

@import './profile/bottom';
@import './profile/growthprofile';
@import './profile/header';
@import './profile/menu';
@import './profile/personal';
@import './profile/profile';
@import './profile/rol';
@import './profile/skill';
@import './profile/timeline';

@import './test/test';
@import './test/result';
@import './test/question';
@import './test/finish';

@import './map/element';


.imagetoreplace{
    background-image: url("../../img/wireframe.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.main{
    background-color: $color1;
    color: $color6;
}

.profile__usernameB{
    color: white;
    font-family: $title;
    text-align: center;
}

.profile__email{
    font-size: 13px;
}
