@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Prompt:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn {
  background-color: #FF971D;
  width: 100%;
  border: none;
  font-family: "Open Sans";
  font-size: 15px;
}

.btn:hover {
  background-color: #FF8800;
}

.btncancel {
  background-color: #694FFD;
  width: 100%;
  border: none;
  font-family: "Open Sans";
  font-size: 15px;
}

.btncancel:hover {
  background-color: #3D347F;
}

.btn-testquestion {
  width: 291px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
}

.footer {
  background-color: #04041B;
}

.footer__line {
  border-width: 6px;
  border-color: #694FFD;
}

.footercont__title {
  color: white;
  font-size: 28px;
  font-family: "Prompt";
  font-weight: bold;
}

.footercont__text {
  color: white;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: lighter;
}

.footercont__text:hover {
  color: #FF971D;
}

.footercont__img {
  padding: 0px 1vh 0px 0vh;
}

.selectfilters {
  background-color: #04041B;
  color: white;
}

.mainHeadermenu {
  width: 100%;
  background-position: bottom;
  background-size: 132%;
  position: absolute;
}

.menucont {
  width: 100%;
  height: 100vh;
  background-color: #04041B;
}

.menubackground {
  background-image: url("../img/MENU/1.svg");
  width: 100%;
  height: 100%;
}

.menubackground2 {
  background-image: url("../img/MENU/2.svg");
  width: 100%;
  height: 100%;
}

.menubackground3 {
  background-image: url("../img/MENU/3.svg");
  width: 100%;
  height: 100%;
}

.menubackground4 {
  background-image: url("../img/MENU/4.svg");
  width: 100%;
  height: 100%;
}

.menun {
  width: 64%;
  height: 100%;
  color: white;
}

.icon1menu {
  width: 68px;
}

.menutitle {
  font-family: "Prompt";
  font-weight: 700;
  font-size: 36px;
}

.icon1menuactive--move {
  width: 40px;
}

.menutitleactive--move {
  font-family: "Prompt";
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
}

.textactive--move {
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans";
}

.menubackgroundactive--move {
  background-image: url("../img/MENU/Background.svg");
  width: 100%;
  height: 100%;
}

.menubackgroundactive2--move {
  background-image: url("../img/MENU/Background.svg");
  width: 100%;
  height: 100%;
}

.menubackgroundactive3--move {
  background-image: url("../img/MENU/Background.svg");
  width: 100%;
  height: 100%;
}

.menubackgroundactive4--move {
  background-image: url("../img/MENU/Background.svg");
  width: 100%;
  height: 100%;
}

.menunactive--move {
  width: 64%;
  height: 100%;
  color: white;
  padding-top: 45vh;
}

.goback {
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 14px;
  top: 110px;
  margin: 0%;
  color: #F7F8FA;
}

.goback:hover {
  color: #04041B;
  text-decoration: none;
}

.gobackimg {
  margin-right: 10px;
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #04041B;
}

.menu {
  height: 100vh;
  background-image: url("../../img/blurbackground.jpg");
  background-size: 127vh;
  background-position: bottom;
}

.title__login {
  font-family: "Prompt";
  font-weight: 700;
  color: white;
  font-size: 30px;
}

.text-center {
  font-family: "Open Sans";
  color: white;
  font-size: 15px;
}

.login__cont {
  width: 60%;
}

.form {
  margin: 0 0 15px;
  font-size: 15px;
  color: white;
}

.signin {
  width: 100%;
  height: 100%;
  background-color: #04041B;
}

.menuS {
  background-image: url(../../img/blurbackground.jpg);
  background-size: 127vh;
  background-position: bottom;
}

.mainHeader {
  background-image: url("./../img/0HOME/headerbackground.png");
  height: 105vh;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.header {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  width: 100%;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.header__link {
  color: #F7F8FA;
  font-size: 19px;
}

.header__link:hover {
  color: #FF971D;
  text-decoration: none;
}

.header__logo {
  width: 16vh;
}

.header__profileLink {
  height: 100%;
}

.header__profile {
  height: 100%;
}

.banner__blank {
  height: 23vh;
}

.banner {
  width: 73%;
}

.banner__title {
  font-family: "Prompt";
  font-weight: bold;
  color: white;
  font-size: 64px;
  padding: 5vh 35vh 5vh 0vh;
}

.text-center {
  width: 44%;
}

.text__description {
  font-family: "Open Sans";
  text-align: left;
  font-size: 14px;
}

.contevent__title {
  font-weight: bold;
  font-style: italic;
}

.contevent__link {
  color: #FF971D;
  font-weight: 500;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: underline;
}

.event__cont {
  border-style: solid;
  border-radius: 20px;
  width: 45vh;
}

.eventcont {
  width: 80%;
}

.event__person {
  width: 18vh;
}

.event__title {
  font-family: "Open Sans";
  font-size: 25px;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.event__name {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 100;
}

.informationcont {
  background-image: url("./../img/0HOME/texture.png");
  height: 37vh;
  background-size: cover;
}

.main__information {
  width: 77%;
}

.emptycont {
  height: 20vh;
}

.bannercont {
  padding-top: 10vh;
}

.mainHeaderinfo {
  background-color: #04041B;
  height: 55vh;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.mainHeaderinfo2 {
  background-color: #04041B;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.banner__cont {
  background-color: #694FFD;
  border-radius: 0px 20px 0px 0px;
  width: 168vh;
}

.banner2__cont {
  background-color: #FF971D;
  border-radius: 0px 20px 0px 0px;
  width: 168vh;
}

.main__info {
  padding-left: 25vh;
}

.info {
  border: 5px solid #7764E3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 0px 0px 20px;
}

.infocont {
  width: 86%;
}

.infocont__img {
  width: 182vh;
  height: 51vh;
}

.info__img {
  width: 100%;
}

.bannercont2 {
  background-color: #FF971D;
  height: 57vh;
}

.excompcont {
  color: #F7F8FA;
}

.excomp {
  width: 84%;
  height: 69vh;
}

.companycont {
  width: 91%;
}

.company_title {
  font-family: "Open Sans";
  font-size: 18px;
  text-align: center;
  padding-top: 2vh;
  margin: 0;
  padding-bottom: 1vh;
}

.spaceC {
  padding: 8vh;
}

.aboutc {
  width: 80%;
}

.company__name {
  font-size: 75px;
  font-family: "Prompt";
}

.company__title {
  margin-top: 0.5rem;
  font-size: 19px;
}

.projectclient {
  width: 89%;
  text-align: center;
  color: #F7F8FA;
}

.projectclient:hover {
  color: #FF971D;
  text-decoration: none;
}

.globantcontimg1 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(../../img/companies/globant/1.svg);
  background-size: 355px;
  background-position: top;
}

.globantcontimg1:hover {
  border: 2px solid #FF971D;
}

.globantcontimg2 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(../../img/companies/globant/2.svg);
  background-size: 355px;
  background-position: top;
}

.globantcontimg2:hover {
  border: 2px solid #FF971D;
}

.globantcontimg3 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(../../img/companies/globant/3.svg);
  background-size: 355px;
  background-position: top;
}

.globantcontimg3:hover {
  border: 2px solid #FF971D;
}

.zemogacontimg1 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(../../img/companies/zemoga/1.svg);
  background-size: 355px;
  background-position: top;
}

.zemogacontimg1:hover {
  border: 2px solid #FF971D;
}

.zemogacontimg2 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(../../img/companies/zemoga/2.svg);
  background-size: 355px;
  background-position: top;
}

.zemogacontimg2:hover {
  border: 2px solid #FF971D;
}

.hugecontimg1 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(../../img/companies/huge/1.svg);
  background-size: 355px;
  background-position: top;
}

.hugecontimg1:hover {
  border: 2px solid #FF971D;
}

.hugecontimg2 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(../../img/companies/huge/2.svg);
  background-size: 355px;
  background-position: top;
}

.hugecontimg2:hover {
  border: 2px solid #FF971D;
}

.hugecontimg3 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(../../img/companies/huge/3.svg);
  background-size: 355px;
  background-position: top;
}

.hugecontimg3:hover {
  border: 2px solid #FF971D;
}

.angcontimg1 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(../../img/companies/weareangular/1.svg);
  background-size: 355px;
  background-position: top;
}

.angcontimg1:hover {
  border: 2px solid #FF971D;
}

.angcontimg2 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(../../img/companies/weareangular/2.svg);
  background-size: 355px;
  background-position: top;
}

.angcontimg2:hover {
  border: 2px solid #FF971D;
}

.inforoles {
  border: 5px solid #7764E3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px 0px 0px 20px;
  width: 43%;
}

.inforoles2 {
  border: 5px solid #7764E3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
  width: 43%;
}

.inforolescont {
  width: 86%;
}

.titlerole {
  font-family: "Prompt";
}

.inforolescont__img {
  width: 47vh;
}

.inforoles__img {
  width: 100%;
}

.breadcrumbs {
  padding-left: 150px;
  color: white;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.rol__cont {
  background-color: #694FFD;
  border-radius: 0px 20px 0px 0px;
  width: 168vh;
  padding: 5vh 0 5vh 22vh;
}

.rol__title {
  font-family: "Prompt";
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 0;
}

.rolcontpad {
  padding-left: 22vh;
}

.titlerol {
  font-family: "Prompt";
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}

ul {
  list-style-image: url("../../img/Ellipse.svg");
}

.rolcontabil {
  width: 200px;
}

.rectanglerol {
  height: 10px;
  width: 100%;
  background-color: #694FFD;
  border-radius: 10px;
}

.imgrol {
  width: 100%;
}

.rolcontskill {
  width: 155px;
  height: 60px;
  text-align: center;
}

.mainHeadergrowth {
  background-color: #04041B;
  height: 58vh;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.bannergrowthcont {
  padding-top: 10vh;
}

.bannergrowth__title {
  font-family: "Prompt";
  font-weight: bold;
  color: white;
  font-size: 64px;
  padding: 5vh 10vh 5vh 0vh;
}

.tagtypeevent {
  background-color: #694FFD;
  color: white;
  border-radius: 0px 40px 40px 0px;
  width: 96px;
  top: 20%;
  left: 0;
  position: absolute;
}

.typeevent {
  background-color: #694FFD;
  color: white;
  border-radius: 0px 40px 40px 0px;
  width: 96px;
  top: 20%;
  left: 0;
  position: absolute;
}

.typeofevent {
  margin: 0;
  font-style: "Open Sans";
}

.eventimg {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.event {
  background-color: #694FFD;
}

.event2 {
  width: 83%;
}

.event__nameinside {
  color: white;
  font-family: "Open Sans";
  font-size: 37px;
  font-weight: bold;
  margin: 0;
}

.aboute {
  width: 50%;
}

.aboutep {
  width: 80%;
}

.projectclientevent {
  width: 89%;
  text-align: center;
}

.aboutben {
  width: 80%;
}

.benefitimg {
  width: 25vh;
}

.benefitevent {
  width: 89%;
  text-align: center;
}

.profilepersoncont {
  background-color: #694FFD;
}

.aboutperson {
  width: 50%;
}

.name__pereven {
  font-family: "Prompt";
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}

.design__pereven {
  margin: 0;
}

.dark {
  display: none;
}

.dark--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 27, 0.5);
  cursor: pointer;
}

.modal-title {
  font-style: "Prompt";
  font-size: 40px;
  font-weight: 700;
}

.modal-content {
  background-color: #04041B;
  border-color: #694FFD;
  border-width: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 17%;
  left: 10%;
  width: 81%;
  height: 60%;
  position: fixed;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.ageneven {
  background-color: #04041B;
  color: white;
}

.modal-title {
  font-style: "Prompt";
  font-size: 40px;
  font-weight: 700;
}

.modal-content {
  background-color: #04041B;
  border-color: #694FFD;
  border-width: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 17%;
  left: 10%;
  width: 81%;
  height: 60%;
  position: fixed;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.ageneven {
  background-color: #04041B;
  color: white;
}

.optionsbottomcont {
  background-color: #694FFD;
  width: 59%;
  height: 37vh;
  border-radius: 0px 20px 0px 0px;
}

.optionsbottom__text {
  margin: 0px;
  width: 82%;
  text-align: end;
  padding-left: 25vh;
}

.optionimg {
  background-image: url("../../img/bottomimgprofile.svg");
  background-size: cover;
  height: 37vh;
  width: 25%;
}

.header {
  height: 15vh;
  background-color: #04041B;
}

.menuprofile {
  background-color: #241F53;
  height: 110vh;
  width: 344px;
}

.menuprofile__title {
  font-family: "Prompt";
  font-weight: 500;
  font-size: 48px;
}

.contlink {
  width: 313px;
  height: 67px;
  border-radius: 41px;
}

.contlink:hover {
  background-color: #7764E3;
}

/*
.contlink::placeholder{
    background-color: $color11;
}
*/
.menuprofilecont__link {
  color: #F7F8FA;
  font-family: "Prompt";
  font-weight: 500;
  font-size: 17px;
}

.menuprofilecont__link:hover {
  color: #F7F8FA;
  text-decoration: none;
}

.mainprofile {
  height: 100%;
  background-color: #02022D;
}

.bannerprofile__title {
  font-family: "Prompt";
  font-weight: bold;
  color: white;
  font-size: 64px;
  margin: 25px;
  text-align: right;
}

.profileconttext {
  width: 53%;
  height: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-left: 5vh;
}

.profilecont__img {
  background-image: url("../../img/1page of descriptions/imagen.svg");
  background-size: cover;
  height: 44vh;
  width: 100%;
}

.textprofile__title {
  margin: 0;
  font-weight: 300;
}

.textprofile__rol {
  font-size: 20px;
  margin: 35px 0px;
  font-weight: 600;
}

.textprofile__description {
  font-family: "Open Sans";
  text-align: left;
  font-size: 13px;
  margin: 0px;
}

.rolprofile {
  background-color: #02022D;
  width: 100%;
  height: 100%;
}

.circulo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #FF971D;
}

.bestkill__position {
  font-size: 50px;
  font-weight: 700;
}

.bestskill {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.bestkill__porc {
  margin: 0 10px 0 0;
}

.progress {
  width: 100%;
}

.progress {
  width: 100%;
  background-color: #3D347F;
}

.progress-bar {
  background-color: #7764E3;
}

.skilltoimp__position {
  font-size: 50px;
  font-weight: 700;
}

.skilltoimp {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.skilltoimp__porc {
  margin: 0 10px 0 0;
}

.skillsprofile {
  height: 100%;
  font-family: "Prompt";
}

.skillsprofile__title {
  font-family: "Prompt";
}

.skillsprofile__best {
  font-family: "Prompt";
  font-size: 20px;
}

.skillsprofile__cont {
  width: 138vh;
}

.skillbest__position {
  font-size: 39px;
  font-weight: 700;
  margin: 0;
}

.circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #FF971D;
}

.skillbest {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
}

.testbefore {
  height: 64vh;
}

.test__title {
  font-family: "Prompt";
  font-weight: bold;
  color: white;
  font-size: 64px;
}

.testbeforecont {
  background-color: #7764E3;
  width: 141vh;
  border-radius: 0px 20px 0px 0px;
}

.testcont {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.testbeforecont__text {
  font-family: "Open Sans";
  text-align: end;
  font-size: 15px;
}

.testimg {
  background-image: url("../../img/bottomimgprofile.svg");
  background-size: cover;
  width: 29%;
}

.mainheadertest {
  background-color: #04041B;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.testcontask {
  width: 90%;
}

.testlocationtitle {
  font-family: "Prompt";
}

.testlocation {
  width: 100%;
  height: 4vh;
  background-color: #694FFD;
  border-radius: 20px;
}

.questiontitle {
  border: 5px solid #F7F8FA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 0px 50px 50px;
  padding: 8vh;
}

.contallquestion {
  width: 100%;
}

.questiontitlecont {
  width: 90%;
  font-family: "Open Sans";
}

.questioncont {
  border: 5px solid #F7F8FA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-family: "Open Sans";
  height: 10vh;
}

.questioncont:focus-within {
  background-color: #694FFD;
  border: 0;
}

.questioncontcont {
  width: 95%;
}

.questioncontcont {
  margin-left: 25px;
}

.questioninput {
  background-color: #C4C4C4;
  border-radius: 20px 0px 0px 20px;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance 
    margin: 0;*/
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  -webkit-transform: translateY(-0.075em);
          transform: translateY(-0.075em);
  display: -ms-grid;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em var(--form-control-color);
          box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.mapcontbtn {
  width: 80vh;
}

.mapeo {
  width: 80%;
}

.mapeo__cont {
  background-color: #694FFD;
  border-radius: 0px 20px 0px 0px;
  width: 168vh;
}

.mapeo__title {
  font-family: "Prompt";
  font-weight: bold;
  color: white;
  font-size: 64px;
}

.beforefinish__title {
  font-family: "Prompt";
  font-weight: bold;
  color: #F7F8FA;
  font-size: 64px;
  padding: 5vh 9vh 5vh 0vh;
}

.imagetoreplace {
  background-image: url("../../img/wireframe.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.main {
  background-color: #04041B;
  color: white;
}

.profile__usernameB {
  color: white;
  font-family: "Prompt";
}
/*# sourceMappingURL=main.css.map */