@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Prompt:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  color: #F7F8FA;
  text-align: left;
  background-color: #04041B;
}

.main-body {
  padding: 15px;
}

.card {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #02022D;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm > .col, .gutters-sm > [class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #04041B;
}

.h-100 {
  height: 100% !important;
}

.shadow-none {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.footer {
  background-color: #04041B;
}

.footer__line {
  border-width: 6px;
  border-color: #694FFD;
}

.footercont__title {
  color: white;
  font-size: 28px;
  font-family: "Prompt";
  font-weight: bold;
}

.footercont__text {
  color: white;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: lighter;
}

.footercont__text:hover {
  color: #FF971D;
}

.footercont__img {
  padding: 0px 1vh 0px 0vh;
}

.selectfilters {
  background-color: #04041B;
  color: white;
}

.mainHeadermenu {
  width: 100%;
  background-position: bottom;
  background-size: 132%;
  position: absolute;
}

.menucont {
  width: 100%;
  height: 100vh;
  background-color: #04041B;
}

.menubackground {
  background-image: url("../img/MENU/1.svg");
  width: 100%;
  height: 100%;
}

.menubackground2 {
  background-image: url("../img/MENU/2.svg");
  width: 100%;
  height: 100%;
}

.menubackground3 {
  background-image: url("../img/MENU/3.svg");
  width: 100%;
  height: 100%;
}

.menubackground4 {
  background-image: url("../img/MENU/4.svg");
  width: 100%;
  height: 100%;
}

.menun {
  width: 64%;
  height: 100%;
  color: white;
}

.icon1menu {
  width: 68px;
}

.menutitle {
  font-family: "Prompt";
  font-weight: 700;
  font-size: 36px;
}

.icon1menuactive--move {
  width: 40px;
}

.menutitleactive--move {
  font-family: "Prompt";
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
}

.textactive--move {
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans";
}

.menubackgroundactive--move {
  background-image: url("../img/MENU/Background.svg");
  width: 100%;
  height: 100%;
}

.menubackgroundactive2--move {
  background-image: url("../img/MENU/Background.svg");
  width: 100%;
  height: 100%;
}

.menubackgroundactive3--move {
  background-image: url("../img/MENU/Background.svg");
  width: 100%;
  height: 100%;
}

.menubackgroundactive4--move {
  background-image: url("../img/MENU/Background.svg");
  width: 100%;
  height: 100%;
}

.menunactive--move {
  width: 64%;
  height: 100%;
  color: white;
  padding-top: 45vh;
}

.goback {
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 14px;
  top: 110px;
  margin: 0%;
  color: #F7F8FA;
}

.goback:hover {
  color: #04041B;
  text-decoration: none;
}

.gobackimg {
  margin-right: 10px;
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #322580;
}

.menu {
  height: 100vh;
  background-image: url("../img/blurbackground.svg");
  background-size: 127vh;
  background-position: bottom;
}

.title__login {
  font-family: "Prompt";
  font-weight: 700;
  color: white;
  font-size: 30px;
}

.text-center {
  font-family: "Open Sans";
  color: white;
  font-size: 15px;
}

.login__cont {
  width: 60%;
}

.form {
  margin: 0 0 15px;
  font-size: 15px;
  color: white;
}

.contimage {
  height: 100%;
  width: 50%;
}

.imagetoreplacelogin {
  background-image: url("../img/illustration/login.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.signin {
  width: 100%;
  height: 139vh;
  background-color: #322580;
}

.menuS {
  background-image: url("../img/blurbackground.svg");
  background-size: 127vh;
  background-position: bottom;
}

.contimagesignin {
  height: 100%;
  width: 50%;
}

.imagetoreplacesignin {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.mainHeader {
  background-image: url("../img/illustration/headerbackground.svg");
  height: 105vh;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.header {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  width: 100%;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.header__link {
  color: #F7F8FA;
  font-size: 19px;
}

.header__link:hover {
  color: #FF971D;
  text-decoration: none;
}

.header__logo {
  width: 16vh;
}

.header__profileLink {
  height: 100%;
}

.header__profile {
  height: 100%;
}

.banner__blank {
  height: 7vh;
}

.banner {
  width: 73%;
}

.banner__title {
  font-family: "Prompt";
  font-weight: bold;
  color: white;
  font-size: 64px;
  padding: 5vh 35vh 5vh 0vh;
  margin: 0;
  width: 80%;
  text-align: right;
}

.text-center {
  width: 40%;
}

.text__description {
  font-family: "Open Sans";
  text-align: left;
  font-size: 14px;
}

.contevent__title {
  font-weight: bold;
  font-style: italic;
}

.contevent__link {
  color: #FF971D;
  font-weight: 500;
  font-size: 15px;
  font-family: "Open Sans";
}

.event__cont {
  border-style: solid;
  border-radius: 20px;
  width: 45vh;
}

.eventcont {
  width: 100%;
}

.event__person {
  width: 18vh;
}

.event__title {
  font-family: "Open Sans";
  font-size: 25px;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.event__name {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}

.profilecontworkshop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.contprofileworkshop {
  border-style: solid;
  border-radius: 20px;
}

.conttallerdelasemana {
  width: 62.59vh;
  height: 46.23vh;
}

.tallerdelasemana {
  background-image: url("../img/illustration/taller.svg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.titletallerdelasemana {
  margin-bottom: 20px;
  font-family: "Prompt";
}

.informationcont {
  background-image: url("./../img/0HOME/texture.png");
  height: 37vh;
  background-size: cover;
}

.main__information {
  width: 90%;
}

.emptycont {
  height: 20vh;
}

.header__linksreclutador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.mainHeaderreclu {
  background-color: #694FFD;
  background-image: url("../img/illustration/headerbackground.svg");
  height: 95vh;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.emptylandingreclu {
  background-image: url(./../img/0HOME/texture.png);
  height: 37vh;
  background-size: cover;
}

.emptylandingreclu__text {
  margin: 0 40px;
  width: 52%;
  text-align: right;
}

.headerNoResults {
  display: none;
}

.headerNoResults--show {
  display: block;
}

.headerWithResults {
  display: none;
}

.headerWithResults--show {
  display: block;
}

.headerReclutador {
  display: none;
}

.headerReclutador--show {
  display: block;
}

.maindesigner {
  display: none;
}

.maindesigner--show {
  display: block;
}

.mainreclutador {
  display: none;
}

.mainreclutador--show {
  display: block;
}

.reclulandproyect__not {
  display: none;
}

.reclulandproyect__not--show {
  display: block;
}

.reclulandproyect__got {
  display: none;
}

.reclulandproyect__got--show {
  display: block;
}

.reclulandprofilesave__not {
  display: none;
}

.reclulandprofilesave__not--show {
  display: block;
}

.reclulandprofilesave__got {
  display: none;
}

.reclulandprofilesave__got--show {
  display: block;
}

.info__imginforol {
  background-image: url("../img/illustration/5 INFORMACIÓN - ROLES.svg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.info__imginfocomp {
  background-image: url("../img/illustration/4 INFORMACIÓN - EMPRESAS.svg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.bannercont {
  padding-top: 10vh;
}

.mainHeaderinfo {
  background-color: #04041B;
  height: 55vh;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.mainHeaderinfo2 {
  background-color: #04041B;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.banner__cont {
  background-color: #694FFD;
  border-radius: 0px 20px 0px 0px;
  width: 168vh;
}

.banner2__cont {
  background-color: #FF971D;
  border-radius: 0px 20px 0px 0px;
  width: 168vh;
}

.main__info {
  padding-left: 25vh;
}

.info {
  border: 5px solid #7764E3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 0px 0px 20px;
}

.infocont {
  width: 86%;
}

.infocont__img {
  width: 182vh;
  height: 51vh;
}

.info__img {
  width: 100%;
}

.bannercont2 {
  background-color: #FF971D;
  height: 57vh;
}

.excompcont {
  color: #F7F8FA;
}

.excomp {
  width: 84%;
  height: 69vh;
}

.companycont {
  width: 91%;
}

.company_title {
  font-family: "Open Sans";
  font-size: 18px;
  text-align: center;
  padding-top: 2vh;
  margin: 0;
  padding-bottom: 1vh;
}

.spaceC {
  padding: 8vh;
}

.aboutc {
  width: 80%;
}

.company__name {
  font-size: 75px;
  font-family: "Prompt";
}

.company__title {
  margin-top: 0.5rem;
  font-size: 19px;
}

.projectclient {
  width: 89%;
  text-align: center;
  color: #F7F8FA;
}

.projectclient:hover {
  color: #FF971D;
  text-decoration: none;
}

.globantcontimg1 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(".././img/companies/globant/1.svg");
  background-size: 355px;
  background-position: top;
}

.globantcontimg1:hover {
  border: 2px solid #FF971D;
}

.globantcontimg2 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(".././img/companies/globant/2.svg");
  background-size: 355px;
  background-position: top;
}

.globantcontimg2:hover {
  border: 2px solid #FF971D;
}

.globantcontimg3 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(".././img/companies/globant/3.svg");
  background-size: 355px;
  background-position: top;
}

.globantcontimg3:hover {
  border: 2px solid #FF971D;
}

.zemogacontimg1 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(".././img/companies/zemoga/1.svg");
  background-size: 355px;
  background-position: top;
}

.zemogacontimg1:hover {
  border: 2px solid #FF971D;
}

.zemogacontimg2 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(".././img/companies/zemoga/2.svg");
  background-size: 355px;
  background-position: top;
}

.zemogacontimg2:hover {
  border: 2px solid #FF971D;
}

.hugecontimg1 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(".././img/companies/huge/1.svg");
  background-size: 355px;
  background-position: top;
}

.hugecontimg1:hover {
  border: 2px solid #FF971D;
}

.hugecontimg2 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(".././img/companies/huge/2.svg");
  background-size: 355px;
  background-position: top;
}

.hugecontimg2:hover {
  border: 2px solid #FF971D;
}

.hugecontimg3 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(".././img/companies/huge/3.svg");
  background-size: 355px;
  background-position: top;
}

.hugecontimg3:hover {
  border: 2px solid #FF971D;
}

.angcontimg1 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(".././img/companies/weareangular/1.svg");
  background-size: 355px;
  background-position: top;
}

.angcontimg1:hover {
  border: 2px solid #FF971D;
}

.angcontimg2 {
  height: 312px;
  width: 327px;
  border-radius: 20px;
  background-image: url(".././img/companies/weareangular/2.svg");
  background-size: 355px;
  background-position: top;
}

.angcontimg2:hover {
  border: 2px solid #FF971D;
}

.inforoles {
  border: 5px solid #7764E3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px 0px 0px 20px;
  width: 43%;
}

.inforoles2 {
  border: 5px solid #7764E3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
  width: 43%;
}

.inforolescont {
  width: 86%;
}

.titlerole {
  font-family: "Prompt";
}

.inforolescont__img {
  width: 47vh;
  height: 221px;
}

.imgrol {
  width: 100%;
  height: 44.29vh;
}

.inforoles__imgUR {
  background-image: url("../img/illustration/7 UX RESEARCHER.svg");
  background-size: cover;
  background-position: center;
  border-radius: 0px 20px 20px 0px;
  height: 100%;
}

.imgUR {
  background-image: url("../img/illustration/7 UX RESEARCHER.svg");
  background-size: cover;
  background-position: center;
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  height: 100%;
}

.inforoles__imgCS {
  background-image: url("../img/illustration/6 CONTENT STRATEGIST.svg");
  background-size: cover;
  background-position: center;
  border-radius: 20px 0px 0px 20px;
  height: 100%;
}

.imgCS {
  background-image: url("../img/illustration/6 CONTENT STRATEGIST.svg");
  background-size: cover;
  background-position: center;
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  height: 100%;
}

.inforoles__imgUD {
  background-image: url("../img/illustration/8 UI DESIGNER.svg");
  background-size: cover;
  background-position: center;
  border-radius: 0px 20px 20px 0px;
  height: 100%;
}

.imgUD {
  background-image: url("../img/illustration/8 UI DESIGNER.svg");
  background-size: cover;
  background-position: center;
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  height: 100%;
}

.inforoles__imgID {
  background-image: url("../img/illustration/9 INTERACTION DESIGNER.svg");
  background-size: cover;
  background-position: center;
  border-radius: 20px 0px 0px 20px;
  height: 100%;
}

.imgID {
  background-image: url("../img/illustration/9 INTERACTION DESIGNER.svg");
  background-size: cover;
  background-position: center;
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  height: 100%;
}

.inforoles__imgUL {
  background-image: url("../img/illustration/10 UX LEAD.svg");
  background-size: cover;
  background-position: center;
  border-radius: 0px 20px 20px 0px;
  height: 100%;
}

.imgUL {
  background-image: url("../img/illustration/10 UX LEAD.svg");
  background-size: cover;
  background-position: center;
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  height: 100%;
}

.inforoles__img {
  width: 100%;
}

.breadcrumbs {
  padding-left: 150px;
  color: white;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.rol__cont {
  background-color: #694FFD;
  border-radius: 0px 20px 0px 0px;
  width: 168vh;
  padding: 5vh 0 5vh 22vh;
}

.rol__title {
  font-family: "Prompt";
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 0;
}

.rolcontpad {
  padding-left: 22vh;
}

.titlerol {
  font-family: "Prompt";
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}

ul {
  list-style-image: url("../../img/Ellipse.svg");
}

.rolcontabil {
  width: 200px;
}

.rectanglerol {
  height: 10px;
  width: 100%;
  background-color: #694FFD;
  border-radius: 10px;
}

.rolcontskill {
  width: 155px;
  height: 60px;
  text-align: center;
}

.mainHeadergrowth {
  background-color: #04041B;
  height: 58vh;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.bannergrowthcont {
  padding-top: 10vh;
}

.bannergrowth__title {
  font-family: "Prompt";
  font-weight: bold;
  color: white;
  font-size: 64px;
  padding: 5vh 10vh 5vh 0vh;
}

.tagtypeevent {
  background-color: #694FFD;
  color: white;
  border-radius: 0px 40px 40px 0px;
  width: 96px;
  top: 20%;
  left: 0;
  position: absolute;
}

.contaboutben {
  background-color: #02022D;
  width: 100%;
}

.benefiback {
  background-color: #FF971D;
  border-radius: 109px;
}

.imgactcont {
  width: 28.59vh;
  height: 20vh;
}

.imgact {
  background-image: url("../img/act1.svg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.imgact2 {
  background-image: url("../img/act2.svg");
  background-size: cover;
  height: 100%;
  width: 95%;
}

.imgact3 {
  background-image: url("../img/act3.svg");
  background-size: cover;
  height: 100%;
  width: 70%;
}

.mainheaderevent {
  background-color: #04041B;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.eventcont2 {
  height: 65vh;
}

.typeevent {
  background-color: #694FFD;
  color: white;
  border-radius: 0px 40px 40px 0px;
  width: 96px;
  top: 20%;
  left: 0;
  position: absolute;
}

.typeofevent {
  margin: 0;
  font-style: "Open Sans";
}

.eventimg {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.event {
  background-color: #694FFD;
}

.event2 {
  width: 83%;
}

.event__nameinside {
  color: white;
  font-family: "Open Sans";
  font-size: 37px;
  font-weight: bold;
  margin: 0;
}

.aboute {
  width: 50%;
}

.aboutep {
  width: 80%;
}

.projectclientevent {
  width: 89%;
  text-align: center;
}

.aboutben {
  width: 80%;
}

.benefitimg {
  width: 25vh;
}

.benefitevent {
  width: 89%;
  text-align: center;
}

.profilepersoncont {
  background-color: #694FFD;
}

.aboutperson {
  width: 50%;
}

.name__pereven {
  font-family: "Prompt";
  font-size: 45px;
  font-weight: 700;
  margin: 0;
}

.design__pereven {
  margin: 0;
}

.textdetail {
  font-size: 15px;
}

.containdetail {
  border: 5px solid #694FFD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-family: "Open Sans";
  height: 100%;
  padding: 10vh;
  width: 60%;
}

.linkdetail {
  color: #FF971D;
}

.dark {
  display: none;
}

.dark--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 27, 0.5);
  cursor: pointer;
}

.modal-title {
  font-style: "Prompt";
  font-size: 40px;
  font-weight: 700;
}

.modal-content {
  background-color: #04041B;
  border-color: #694FFD;
  border-width: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 17%;
  left: 10%;
  width: 81%;
  height: 60%;
  position: fixed;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.ageneven {
  background-color: #04041B;
  color: white;
}

.modal2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-title {
  font-style: "Prompt";
  font-size: 40px;
  font-weight: 700;
}

.contformyearexp {
  width: 42vh;
}

.modal-content {
  background-color: #04041B;
  border-color: #694FFD;
  border-width: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 17%;
  left: 10%;
  width: 81%;
  height: 60%;
  position: fixed;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.modal2-content {
  background-color: #04041B;
  border-color: #694FFD;
  border-width: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 17%;
  left: 10%;
  width: 81%;
  height: 60%;
  position: fixed;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.ageneven {
  background-color: #04041B;
  color: white;
}

.addprofile {
  display: none;
}

.addprofile--show {
  display: block;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: rgba(4, 4, 27, 0.8);
}

.addprofile__container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.addprofile__centerAll {
  width: 50%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #694FFD;
}

.addprofile__centerAll p {
  padding: 5%;
}

.addprofile2 {
  display: none;
}

.addprofile2--show {
  display: block;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: rgba(4, 4, 27, 0.8);
}

.addprofile2__container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.addprofile2__centerAll {
  width: 50%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #694FFD;
}

.addprofile2__centerAll p {
  padding: 5%;
}

.optionsbottomcont {
  background-color: #694FFD;
  width: 59%;
  height: 37vh;
  border-radius: 0px 20px 0px 0px;
}

.optionsbottom__text {
  margin: 0px;
  width: 82%;
  text-align: end;
  padding-left: 25vh;
}

.contoptionimg {
  width: 18.59vh;
  height: 37vh;
}

.optionimg {
  background-image: url(".././img/illustration/11 OPCIONES DE MEJORA PERFIL.svg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.mainHeaderprofile {
  background-color: #04041B;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.bannercontprofile {
  padding-top: 5vh;
}

.header {
  height: 15vh;
  background-color: #04041B;
}

.cont__bannerprofile {
  background-color: #694FFD;
  border-radius: 0px 20px 0px 0px;
  width: 300vh;
}

.menuprofile {
  background-color: #241F53;
  height: 110vh;
  width: 344px;
}

.menuprofile__title {
  font-family: "Prompt";
  font-weight: 500;
  font-size: 48px;
}

.contlink {
  width: 313px;
  height: 67px;
  border-radius: 41px;
}

.contlink:hover {
  background-color: #7764E3;
}

/*
.contlink::placeholder{
    background-color: $color11;
}
*/
.menuprofilecont__link {
  color: #F7F8FA;
  font-family: "Prompt";
  font-weight: 500;
  font-size: 17px;
}

.menuprofilecont__link:hover {
  color: #F7F8FA;
  text-decoration: none;
}

.card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.cardprofile {
  background-color: #010112;
}

.profilecircle {
  width: 100px;
  height: 100px;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #E1BEE7;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #FF971D;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.card:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.fonts {
  font-size: 11px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.social-list li {
  padding: 10px;
  color: #8E24AA;
  font-size: 19px;
}

.mainprofile {
  height: 100%;
  background-color: #02022D;
}

.bannerprofile__title {
  font-family: "Prompt";
  font-weight: bold;
  color: white;
  font-size: 64px;
  margin: 25px;
  text-align: right;
}

.profileconttext {
  width: 53%;
  height: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-left: 5vh;
}

.profilecont__img {
  background-image: url("../img/1page of descriptions/imagen.svg");
  background-size: cover;
  height: 44vh;
  width: 100%;
}

.textprofile__title {
  margin: 0;
  font-weight: 300;
}

.textprofile__rol {
  font-size: 33px;
  margin: 35px 0px;
  font-weight: 600;
}

.textprofile__description {
  font-family: "Open Sans";
  text-align: left;
  font-size: 13px;
  margin: 0px;
}

.rolprofile {
  background-color: #02022D;
  width: 100%;
  height: 100%;
}

.circulo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #FF971D;
}

.bestkill__position {
  font-size: 50px;
  font-weight: 700;
}

.bestskill {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.bestkill__porc {
  margin: 0 10px 0 0;
}

.progress {
  width: 100%;
}

.progress {
  width: 100%;
  background-color: #3D347F;
}

.progress-bar {
  background-color: #7764E3;
}

.skilltoimp__position {
  font-size: 50px;
  font-weight: 700;
}

.skilltoimp {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.skilltoimp__porc {
  margin: 0 10px 0 0;
}

.skillsprofile {
  height: 100%;
  font-family: "Prompt";
}

.skillsprofile__title {
  font-family: "Prompt";
}

.skillsprofile__best {
  font-family: "Prompt";
  font-size: 20px;
}

.skillsprofile__cont {
  width: 138vh;
}

.skillbest__position {
  font-size: 39px;
  font-weight: 700;
  margin: 0;
}

.circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #FF971D;
}

.skillbest {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
}

.form-range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #F7F8FA;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}

.form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #694FFD;
  border: 1px solid #694FFD;
  cursor: pointer;
}

.form-range::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #694FFD;
  border-radius: 50%;
  background: #694FFD;
  border: 1px solid #694FFD;
  cursor: pointer;
}

.graphic__container {
  width: 80%;
}

.timelinebody {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

/* -------------------------------------
   * * timeline
   * * ------------------------------------- 
  #timeline {
    list-style: none;
    margin: 50px 0 30px 120px;
    padding-left: 30px;
    border-left: 8px solid $color2;
    border-radius: 6px;
  }

  #timeline li {
    margin: 40px 0;
    position: relative;
  }

  #timeline p {
    margin: 0 0 15px;
    font-family: $font;
  }
  
  .datetime {
    margin-top: -10px;
    top: 50%;
    left: -158px;
    font-size: 0.95em;
    line-height: 20px;
    position: absolute;
  }
  
  .circletime {
    margin-top: -10px;
    top: 53%;
    left: -39px;
    width: 10px;
    height: 10px;
    background: $color1;
    border: 5px solid $color2;
    border-radius: 50%;
    display: block;
    position: absolute;
  }
  
  .contenttime {
    max-height: 20px;
    padding: 50px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    position: relative;
  }
  .contenttime:before, .contenttime:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
  }
  .contenttime:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }
  .contenttime:after {
    border-right-color: $color1;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
  }
  .contenttime p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
  }
  
  label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    transition: transform 0.2s linear;
  }
  
  .radiotime {
    display: none;
    position: absolute;
    top: 75px;
    left: -43px;
  }
  
  .radiotime:checked + .relativetime label {
    cursor: auto;
    transform: translateX(42px);
  }
  .radiotime:checked + .relativetime + .circletime {
    background: $color4;
  }
  .radiotime:checked ~ .contenttime {
    max-height: 180px;
    border-color: $color2;
    margin-right: 20px;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
  }
  .radiotime:checked ~ .contenttime p {
    max-height: 200px;
    color: $color2;
    transition: color 0.3s linear 0.3s;
  }*/
/* -------------------------------------
   * * mobile phones (vertical version only)
   * * ------------------------------------- 
  @media screen and (max-width: 767px) {
    #timeline {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    }
    #timeline li {
      margin: 50px 0;
    }
  
    label {
      width: 85%;
      font-size: 1.1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      transform: translateX(18px);
    }
  
    .contenttime {
      padding-top: 45px;
      border-color: $color2;
    }
    .contenttime:before, .contenttime:after {
      border: solid transparent;
      bottom: 100%;
    }
    .contenttime:before {
      border-bottom-color: inherit;
      border-width: 17px;
      top: -16px;
      left: 50px;
      margin-left: -17px;
    }
    .contenttime:after {
      border-bottom-color: #48b379;
      border-width: 20px;
      top: -20px;
      left: 50px;
      margin-left: -20px;
    }
    .contenttime p {
      font-size: 0.9em;
      line-height: 1.4;
    }
  
    .circletime, .datetime {
      display: none;
    }
  }*/
.circleadd {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FF971D;
  border-color: #FF971D;
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.timeline-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.titletimeline {
  color: #C4C4C4;
  font-family: "Prompt";
  font-style: italic;
}

.timeline-steps .timeline-step {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 1rem;
}

@media (min-width: 768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: 0.25rem dotted #3b82f6;
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: 0.3125rem;
  }
  .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: 0.25rem dotted #3b82f6;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: 0.3125rem;
  }
}

.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center;
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3b82f6;
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #3b82f6;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: 0.5;
}

.linksRoles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1%;
  padding-bottom: 1%;
}

.linksRoles__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 1.5%;
}

.linksRoles__dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  margin-right: 5px;
}

.linksRoles__dot1 {
  background-color: #694FFD;
}

.linksRoles__dot2 {
  background-color: #FF971D;
}

.linksRoles__dot3 {
  background-color: #94B9FF;
}

.linksRoles__dot4 {
  background-color: #EF6A77;
}

.linksRoles__dot5 {
  background-color: #2A1C7C;
}

.testbefore {
  height: 75vh;
}

.test__title {
  font-family: "Prompt";
  font-weight: bold;
  color: white;
  font-size: 64px;
}

.testbeforecont {
  background-color: #7764E3;
  width: 141vh;
  border-radius: 0px 20px 0px 0px;
}

.testcont {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.testbeforecont__text {
  font-family: "Open Sans";
  text-align: end;
  font-size: 15px;
}

.testimg {
  background-image: url(".././img/illustration/testinfo.svg");
  background-size: cover;
  background-position: inherit;
  width: 29%;
}

.resul {
  display: none;
}

.resul--mostrar {
  display: block;
  position: absolute;
  background-color: #04041B;
  width: 100%;
  top: 23vh;
}

.resul .resul__cont {
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-bottom: 15vh;
}

.resul .resul__t1 {
  font-family: "Prompt";
  font-weight: 500;
  font-size: 30px;
}

.resul .resul__t3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 28px;
  line-height: 34,13px;
  margin-top: 190px;
  margin-bottom: 154px;
  text-align: center;
}

.resul .resul__cont a {
  margin-left: 570px;
}

.container2 {
  width: 70vw;
}

.mainheadertest {
  background-color: #04041B;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
}

.testcontask {
  width: 90%;
}

.testlocationtitle {
  font-family: "Prompt";
}

.testlocation {
  width: 100%;
  height: 4vh;
  background-color: #694FFD;
  border-radius: 20px;
}

.questiontitle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3vh;
  width: 100%;
}

.contallquestion {
  width: 100%;
}

.questiontitlecont {
  width: 100%;
  font-family: "Open Sans";
  text-align: left;
}

.questioncont {
  border: 2px solid #F7F8FA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-family: "Open Sans";
  height: 100%;
  padding: 3vh;
}

.questioncont:focus-within {
  background-color: #694FFD;
  border: 0;
}

.questioncontcont {
  width: 95%;
}

.questioncontcont {
  margin-left: 25px;
}

.questioninput {
  background-color: #C4C4C4;
  border-radius: 20px 0px 0px 20px;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance 
    margin: 0;*/
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  -webkit-transform: translateY(-0.075em);
          transform: translateY(-0.075em);
  display: -ms-grid;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em var(--form-control-color);
          box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.imagquestion {
  height: 400px;
  width: 50%;
}

.finished {
  border: 5px solid #7764E3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5vh;
  width: 90%;
}

.mapcontbtn {
  width: 80vh;
}

.mapeo {
  width: 80%;
}

.mapeo__cont {
  background-color: #694FFD;
  border-radius: 0px 20px 0px 0px;
  width: 168vh;
}

.mapeo__title {
  font-family: "Prompt";
  font-weight: bold;
  color: white;
  font-size: 64px;
}

.beforefinish__title {
  font-family: "Prompt";
  font-weight: bold;
  color: #F7F8FA;
  font-size: 64px;
  padding: 5vh 9vh 5vh 0vh;
}

.disallowTest {
  display: none;
}

.disallowTest--show {
  display: block;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: rgba(4, 4, 27, 0.8);
}

.disallowTest__container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.disallowTest__centerAll {
  width: 50%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #694FFD;
}

.disallowTest__centerAll div {
  padding-left: 0px;
  padding-top: 5%;
}

.disallowTest__centerAll p {
  padding: 5%;
}

.disallowTest__centerAll .btn {
  width: 50%;
  margin-bottom: 5%;
  margin-top: 0%;
}

.warningNoInfo {
  display: none;
}

.warningNoInfo--show {
  display: block;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: rgba(4, 4, 27, 0.8);
}

.warningNoInfo__container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.warningNoInfo__centerAll {
  width: 50%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #694FFD;
}

.warningNoInfo__centerAll div {
  padding-left: 0px;
  padding-top: 5%;
}

.warningNoInfo__centerAll p {
  padding: 5%;
}

.warningNoInfo__centerAll .btn {
  width: 50%;
  margin-bottom: 5%;
  margin-top: 0%;
}

.loader {
  display: none;
}

.loader--show {
  display: block;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.9);
}

.loader__container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader__container h1 {
  margin-top: 0px;
  font-family: "Open Sans";
  color: white;
}

.loader__container img {
  width: 15%;
}

.noDesign {
  display: block;
}

.noDesign--hide {
  display: none;
}

.newproyect {
  width: 75%;
}

.proyectcontname {
  background: #04041B;
}

.proyectcontdes {
  height: 123px;
  background: #04041B;
}

.newproyecttext {
  font-family: "Prompt";
  font-size: 22px;
}

.contrecomend {
  padding: 2vh;
}

.similprofile {
  background-image: url(../../../img/0HOME/texture.png);
  height: 26vh;
  width: 100%;
  background-position: bottom;
  background-size: 132%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gobacksimil {
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  color: #F7F8FA;
}

.profiledesigner {
  border-style: solid;
  border-radius: 20px;
  width: 45vh;
}

.contprofilegraphic {
  width: 90%;
}

.uxNameComparation {
  text-align: center;
}

.contprofile__links {
  background-color: #694FFD;
  width: 100%;
}

.profilefirts {
  background-color: #3D347F;
}

.cont__links {
  background-color: #694FFD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.textprofilecolor {
  color: #F7F8FA;
}

.line {
  border-width: 6px;
  border-color: #694FFD;
}

.proj__container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: .25rem;
}

.fav__container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: .25rem;
  height: 25vh;
  width: 45vh;
}

.text-infoprofile {
  color: #F7F8FA;
  font-size: 19px;
}

.contlinkprofile {
  color: #FF971D;
  font-weight: 500;
  font-size: 14px;
  font-family: "Open Sans";
}

.profilefavs {
  border-style: solid;
  border-radius: 20px;
  width: 45vh;
}

.btn {
  background-color: #FF971D;
  width: 100%;
  border: none;
  font-family: "Open Sans";
  font-size: 15px;
}

.btn-delete {
  background-color: rgba(255, 0, 0, 0.7);
}

.btn:hover {
  background-color: #FF8800;
}

.btncancel {
  background-color: #694FFD;
  width: 100%;
  border: none;
  font-family: "Open Sans";
  font-size: 15px;
}

.btncancel:hover {
  background-color: #3D347F;
}

.SignOutButton {
  background-color: #694FFD;
  width: 100%;
  border: none;
  font-family: "Prompt";
  font-size: 13px;
  color: white;
  height: 78%;
}

.SignOutButton2 {
  background-color: #694FFD;
  width: 100%;
  border: none;
  font-family: "Prompt";
  font-size: 13px;
  color: white;
  height: 78%;
}

.btn-delete:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.btn-testquestion {
  width: 291px;
  font-weight: 500;
  font-size: 18px;
}

.btnAlert {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 0%;
}

.btnAlert2 {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 0%;
}

.addbtn {
  background-color: #FF971D;
  /* width: 100%; */
  border: none;
  font-family: "Open Sans";
  font-size: 15px;
}

.addbtn:hover {
  background-color: #FF8800;
}

.imagetoreplace {
  background-image: url("../img/illustration/registro.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.main {
  background-color: #04041B;
  color: white;
}

.profile__usernameB {
  color: white;
  font-family: "Prompt";
  text-align: left;
  margin: 0;
}

.profilename {
  color: white;
  font-family: "Prompt";
  text-align: center;
  margin: 0;
}

.profile__email {
  font-size: 13px;
  font-family: "Open Sans";
}
/*# sourceMappingURL=main.css.map */