.maindesigner{
    display: none;

    &--show {
        display: block;
    }
}

.mainreclutador {
    display: none;

    &--show {
        display: block;
    }
}

.reclulandproyect__not{
    display: none;

    &--show {
        display: block;
    }
}

.reclulandproyect__got{
    display: none;

    &--show {
        display: block;
    }
}

.reclulandprofilesave__not{
    display: none;

    &--show {
        display: block;
    }
}

.reclulandprofilesave__got{
    display: none;

    &--show {
        display: block;
    }
}