.headerNoResults {
    display: none;

    &--show {
        display: block;
    }
}

.headerWithResults {
    display: none;

    &--show {
        display: block;
    }
}

.headerReclutador {
    display: none;

    &--show {
        display: block;
    }
}