.optionsbottomcont{
    background-color: $color3;
    width: 59%;
    height: 37vh;
    border-radius: 0px 20px 0px 0px;
}

.optionsbottom__text{
    margin: 0px;
    width: 82%;
    text-align: end;
    padding-left: 25vh;
}

.optionimg{
    background-image: url(".././img/illustration/11 OPCIONES DE MEJORA PERFIL.svg");
    background-size: cover;
    background-size: contain;
    height: 33.2vh;
    width: 8%;
}