.contoptionimg{
    width: 18.59vh;
    height: 37vh;
}

.optionimg{
    background-image: url(".././img/illustration/11 OPCIONES DE MEJORA PERFIL.svg");
    background-size: cover;
    //background-size: contain;
    height: 100%;
    width: 100%;
}