.mainHeaderprofile {
    background-color: $color1;
    width: 100%;
    background-position: bottom;
    background-size: 132%;
}

.bannercontprofile {
    padding-top: 5vh;
}
.header {
    height: 15vh;
    background-color: $color1;
}
