.mainHeaderprofile {
    background-color: $color1;
    width: 100%;
    background-position: bottom;
    background-size: 132%;
}

.bannercontprofile {
    padding-top: 5vh;
}
.header {
    height: 15vh;
    background-color: $color1;
}
.cont__bannerprofile{
    background-color: #694FFD;
    border-radius: 0px 20px 0px 0px;
    width: 300vh;
}