.circulo {
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: $color4;
}

.bestkill__position{
    font-size: 50px;
    font-weight: 700;
}

.bestskill{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.bestkill__porc{
    margin: 0 10px 0 0;
}

.progress{
    width: 100%;
}

.progress{
    width: 100%;
    background-color: $color8;
}

.progress-bar{
    background-color: $color7;
}

.skilltoimp__position{
    font-size: 50px;
    font-weight: 700;
}

.skilltoimp{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.skilltoimp__porc{
    margin: 0 10px 0 0;
}


///////////////////////////////////////////////////////////////////////////////////////////////////

.skillsprofile{
    height: 100%;
    font-family: $title;
}

.skillsprofile__title{
    font-family: $title;
}

.skillsprofile__best{
    font-family: $title;
    font-size: 20px;
}

.skillsprofile__cont{
    width: 138vh;
}

.skillbest__position {
    font-size: 39px;
    font-weight: 700;
    margin: 0;
}

.circle {
    width: 65px;
    height: 65px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: $color4;
}

.skillbest {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
}

.form-range {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: $color2;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $color3;
        border: 1px solid $color3;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        background: $color3;
        border-radius: 50%;
        background: $color3;
        border: 1px solid $color3;
        cursor: pointer;
    }
}

.graphic__container {
    width: 80%;
}