//Top
.bannercont2{
    background-color: $color4;
    height: 43vh;
}

.excompcont{
    color: $color2;
}

.excomp{
    width: 84%;
}

//Content
.spaceC{
    padding: 10vh;
}

.aboutc{
    width: 80%;
}

.company__name{
    font-size: 75px;
    font-family: $title;
}

.projectclient{
    width: 89%;
    text-align: center;
}