
.inforoles{
    border: 5px solid #7764E3;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
    width: 43%;
}

.inforoles2{
    border: 5px solid #7764E3;
    box-sizing: border-box;
    border-radius: 0px 20px 20px 0px;
    width: 43%;
}

.inforolescont{
    width: 86%;
}

.titlerole{
    font-family: $title;
}

.inforolescont__img{
    width: 47vh;
    height: 221px;
    //height: 51vh;
}

.imgrol{
    width: 100%;
    height:  44.29vh;;
}

//UX RESEARCHER
.inforoles__imgUR{
    background-image: url("../img/illustration/7 UX RESEARCHER.svg");
    background-size: cover;
    background-position: center;
    border-radius: 0px 20px 20px 0px;
    //width: 100%;
    height: 100%;
}

.imgUR{
    background-image: url("../img/illustration/7 UX RESEARCHER.svg");
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    height: 100%;
}

//CONTENT STRATEGIST
.inforoles__imgCS{
    background-image: url("../img/illustration/6 CONTENT STRATEGIST.svg");
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 0px 20px;
    //width: 100%;
    height: 100%;
}

.imgCS{
    background-image: url("../img/illustration/6 CONTENT STRATEGIST.svg");
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    height: 100%;
}


//UI DESIGN
.inforoles__imgUD{
    background-image: url("../img/illustration/8 UI DESIGNER.svg");
    background-size: cover;
    background-position: center;
    border-radius: 0px 20px 20px 0px;
    //width: 100%;
    height: 100%;
}

.imgUD{
    background-image: url("../img/illustration/8 UI DESIGNER.svg");
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    height: 100%;
}


//INTERACTION DESIGN
.inforoles__imgID{
    background-image: url("../img/illustration/9 INTERACTION DESIGNER.svg");
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 0px 20px;
    //width: 100%;
    height: 100%;
}

.imgID{
    background-image: url("../img/illustration/9 INTERACTION DESIGNER.svg");
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    height: 100%;
}


//UX LEAD
.inforoles__imgUL{
    background-image: url("../img/illustration/10 UX LEAD.svg");
    background-size: cover;
    background-position: center;
    border-radius: 0px 20px 20px 0px;
    //width: 100%;
    height: 100%;
}

.imgUL{
    background-image: url("../img/illustration/10 UX LEAD.svg");
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    height: 100%;
}

.inforoles__img{
    width: 100%;
    
}

//Rol content
.breadcrumbs{
    padding-left: 150px;
    color: white;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }


.rol__cont{
    background-color: $color3;
    border-radius: 0px 20px 0px 0px;
    width: 168vh;
    padding: 5vh 0 5vh 22vh;
}

.rol__title{
    font-family: $title;
    font-size: 57px;
    font-weight: 700;
    margin-bottom: 0;
}

.rolcontpad{
    padding-left: 22vh;
}

.titlerol{
    font-family: $title;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
}

ul{
    list-style-image: url('../../img/Ellipse.svg');
}

.rolcontabil{
    width: 200px;
}

.rectanglerol {
    height: 10px;
    width: 100%;
    background-color: $color3;
    border-radius: 10px;
}



.rolcontskill{
    width: 155px;
    height: 60px;
    text-align: center;
}